body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
}

.left-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.logo img {
    width: 150;
    height: 40px;
    margin-right: auto;

}



.logo h1 {
    font-size: 24px;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-group button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-group button:hover {
    box-shadow: 0 0 50px #007bff;
}



.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #fff;
}

.divider span {
    margin: 0 10px;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-btn i {
    margin-right: 10px;
}

.footer {
    margin-top: 30px;
    font-size: 14px;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.nav {
    margin-top: 9%;

}